<ion-header>
  <ion-toolbar>
    <ion-title > AirBnb Sign-In </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-grid>
            <div text-center>
              <h4>Login Form</h4>
          
            <ion-item>
              <label>Email</label>
              <ion-input [(ngModel)] = "this.email" name ="email" ></ion-input>
            </ion-item>
        
            <ion-item>
              <label> Password </label>
              <ion-input [(ngModel)] = "this.password" name = "password"></ion-input>
            </ion-item>
        
          <ion-button expand ="full" (click) = "login()" >Login</ion-button>

            </div>
      
            <div padding>
            </div>
      </ion-grid>   
</ion-content>

