<ion-content>
  <ion-card>
      <ion-card-title style="margin: 10px"> Your Rentals</ion-card-title>
      <p style ="margin: 15px"><b> Upcoming Rentals</b></p>
      <p style="margin: 20px"> You have no upcoming rentals ;(</p>
    </ion-card>
  <div padding></div>

  <p style = "margin: 0 10px; font-size: 20px; color:gray"> <b> <i> Most Recent Rentals </i> </b></p>
  
  <ion-list class = "grid">
  <ion-card>
      <ion-card-content>
        <p style ="font-size: 20px"> <b> Thomas Jefferson </b></p>
        <p> <b> Name: </b> La Casa de Pablo. </p> 
        <p> <b> Cost: </b> $3000 a week </p>
        <p> <b> Date: </b> 12/05 - 27/05 </p>
        <p> <b> Rating </b> 4.5/5 </p>
      </ion-card-content>
    </ion-card>  
  <ion-card>
        <ion-card-content>
          <p style ="font-size: 20px"> <b> George Clooney</b></p>
          <p> <b> Name: </b> La Casa de Pablo </p> 
          <p> <b> Cost: </b> $200 </p>
          <p> <b> Date: </b> 24/08 - 28/08 </p>
          <p> <b> Rating </b> 4/5 </p>
        </ion-card-content>
      </ion-card> 
     <ion-card>
        <ion-card-content>
          <p style ="font-size: 20px"> <b>Henry Ford </b></p>
          <p> <b> Name: </b> La Casa de Pablo </p> 
          <p> <b> Cost: </b> $800 </p>
          <p> <b> Date: </b> 24/10 - 31/10 </p>
          <p> <b> Rating </b> 3.5/5 </p>
        </ion-card-content>
      </ion-card> 
    </ion-list> 
</ion-content>
