.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
.grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    grid-auto-rows: 550px;
}

ion-card-content {
    height: 100%;
}

.avatar {
    margin: auto;
    padding-top: 20px;
    width: 100% !important;
    height: 45% !important;
}